<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="Классно" />Добро пожаловать!<img style="display: block; margin-left: auto; margin-right: auto;" src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="Классно" /></p>
<h2 style="text-align: justify;">На <span style="color: #ff0000;">нашем</span> тестовом сайте <strong>мы</strong> будем пробовать <em>новые</em> инструменты, вставки в текст смайлов, формат текста поменяем, в общем, посмотрим, что <a href="https://html5-editor.net/"><span style="text-decoration: line-through;">здесь</span></a> можно вообще делать&nbsp;</h2>
</body>
</html>